/* Tailwind directives */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--background: #f4f8fb; /* Bleu pastel clair */
	--foreground: #3c4c5f; /* Gris foncé apaisant */
	--footerBackground: #aac9b8; /* Vert pastel doux */
	--font-geist-sans: 'Geist Sans', sans-serif; /* Définir la police si nécessaire */
}

[data-theme="dark"] {
	--background: #3c4c5f; /* Bleu foncé clair */
	--foreground: #e3e6e8; /* Gris clair pour le texte */
	--footerBackground: #7f9b95; /* Vert foncé */
}

body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: var(--font-geist-sans), Arial, sans-serif;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	background-color: var(--background);
	color: var(--foreground);
	transition: background 0.3s ease-in-out, color 0.3s ease-in-out;
}

/* Responsive */
@media (max-width: 768px) {
	.content {
		padding: 10px;
	}
	.footer {
		font-size: 14px;
		padding: 8px;
	}
}

@media (max-width: 480px) {
	.footer {
		font-size: 12px;
		padding: 6px;
	}
}
